.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    top: 100%;
        /* Position the dropdown right below the input */
        left: 0;
        right: 0;
        z-index: 1000;
}
.result-list {
    display: flex;
    flex-direction: column;
}